body {
    background-image: url(../img/nguyen-khanh-ly-liiusuaISP0-unsplash.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.img-inicio {
    width: 100%;
    background-image: url(../img/nguyen-khanh-ly-liiusuaISP0-unsplash.jpg);
    clip-path: polygon(0 0, 100% 0, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    background-color: #fff;
}

.portada {
    opacity: 90%;
    border-radius: 3%;
    text-align: center;
    margin-top: 150px;
    color: #fff;
}

.portada-msg {
    padding: 50px;
}

.car-fondo-claro {
    background: #EEEEEE;
    padding: 20px 0px;
}

.car-fondo-oscuro {
    background: #dadada;
    padding: 20px 0px;
}

.car-fondo-mat {
    background: #fff1e6;
    margin-top: 84px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.nav-logo {
    width: 100px;
    padding: 10px 0;
}

.navbar {
    padding-top: 0px;
    padding-bottom: 0px;
}

.pad-cent {
    padding: 0 50px;
}

.nav-btn {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 136px;
    padding: 55px 20px;
    font-size: large;
}

.nav-btn:hover {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 136px;
    padding: 55px 20px;
    background-color: #343638;
}

.text-white {
    color: #fff;
    text-align: center;
}

.cont-inter {
    margin-top: 30px;
    margin-bottom: 30px;
}

.cont-msg-inter {
    background-color: gray;
    text-align: center;
    padding: 5px;
    border-radius: 10%;
    opacity: 80%;
    margin-bottom: 40px;
}

.cont-msg-inter>h1 {
    color: #fff;
}

.cont-msg-inter>p {
    color: #fff;
}

.form-group {
    padding-top: 1.1rem;
    width: -webkit-fill-available;
}

.text-area {
    resize: none;
    height: 150px;
    width: 100%;
}

.pie-pagina {
    background: black;
    color: #fff;
    
}

.pie-30 {
    width: 30%;
    max-width: 320px;
    margin-left: 20%;
    padding-bottom: 1%;
    display: inline-block;
}

.icon {
    margin-right: 25px;
}

.imagen-noticia {
    width: 40rem;
    border-radius: 10px;
}

.news-txt {
    text-align: center;
    margin-bottom: 30px;
    padding-top: 30px;
}

.p-noticia {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.calendar {
    width: 35rem;
    height: 30rem;
}

.img-director {
    width: 13rem;
    height: 13rem;
    border-radius: 71%;
}

.justifycenter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cajaflex {
    display: flex;
    flex-wrap: wrap;
}

.formulario {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.formulario__label {
    display: block;
    font-weight: 700;
    padding: 10px;
    cursor: pointer;
}

.formulario__grupo-input {
    position: relative;
}

.formulario__input {
    width: 100%;
    background: #fff;
    border: 3px solid transparent;
    border-radius: 3px;
    height: 45px;
    line-height: 45px;
    padding: 0 40px 0 10px;
    transition: .3s ease all;
}

.formulario__input:focus {
    border: 3px solid #0075FF;
    outline: none;
    box-shadow: 3px 0px 30px #a3a3a366;
}

.formulario__input-error {
    font-size: 12px;
    margin-bottom: 0;
    display: none;
}

.formulario__input-error-activo {
    display: block;
}

.formulario__validacion-estado {
    position: absolute;
    right: 15px;
    margin-top: 15px;
    z-index: 100;
    font-size: 16px;
    opacity: 0;
}

.formulario__mensaje,
.formulario__grupo-btn-enviar {
    grid-column: span 2;
}

.formulario__mensaje {
    height: 45px;
    line-height: 45px;
    background: #f66060;
    padding: 0 15px;
    border-radius: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: none;
}

.formulario__mensaje-activo {
    display: block;
}

.formulario__grupo-btn-enviar {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario__btn {
    height: 45px;
    width: 30%;
    background: #4D77FF;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: .1s ease all;
}

.formulario__btn:hover {
    box-shadow: 3px 0px 30px #a3a3a3;
}

.formulario__mensaje-exito {
    height: 45px;
    line-height: 45px;
    background: #60f667;
    padding: 0 15px;
    border-radius: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: none;
}

.formulario__mensaje-exito-activo {
    display: block;
}


/* Estilo validacion */

.formulario__grupo-correcto .formulario__validacion-estado {
    color: #1ed12d;
    opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
    color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
    color: #bb2929;
    opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
    border: 3px solid #bb2929;
}

.mapa {
    padding-top: 20px;
    background: none;
    border: none;
    text-align: center;
    margin-left: 100px;
    width: 28em;
    height: 22em;
}

.text-center {
    text-align: center;
}
.justify-center {
    display: flex;
    justify-content: center;
}

.cont-contacto {
    border-radius: 5%;
    background-color: #DFDFDE;
    height: 35em;
    padding: 20px;
}

.cont-forms {
    background-color: #343638;
    color: #fff;
    padding: 25px;
    margin-top: 13rem;
    margin-bottom: 13rem;
    border-radius: 5%;
}

.btn-largo {
    display: block;
    width: inherit;
}

.error {
    display: flex;
    justify-content: center;
    background-color: #F55353;
    margin-top: 5px;
    padding: 5px;
    border-radius: 5px;
}

.flex-center {
    display: flex;
    flex-direction: column;
}

.btn-noticias {
    text-decoration: none;
    color: #000;
}

.fondo-btn-noticias {
    background-color: #fff;
    border-radius: 10px;
    padding: 5px;
}

.btn-noticias:hover {
    text-decoration: none;
    color: #000;
    transition: 0.5s;
}

.fondo-btn-noticias:hover {
    background-color: rgb(212, 212, 212);
    border-radius: 10px;
    padding: 5px;
    transition: 0.5s;
}

.tbl-column-width {
    width: 7%;
}

input.error {
    background-color: #fff;
}


/* Mediaqueris */

@media(max-width: 1000px) {
    .calendar {
        width: 355px;
        height: 425px;
    }
    .imagen-noticia {
        margin-left: 0px;
        width: 350px;
        border-radius: 5%;
        margin-top: 0px;
        margin-bottom: 0px;
        width: 100%;
        height: auto;
    }
    .pie-30 {
        width: 70%;
        max-width: 320px;
        margin-left: 15%;
        padding-bottom: 2%;
    }
}

@media (min-width: 768px) {
    .navbar-brand.abs {
        position: absolute;
        width: auto;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }
}

@media(max-width: 500px) {
    .calendar {
        height: 400px;
    }
    .imagen-noticia {
        margin-left: 0px;
        width: 350px;
        border-radius: 5%;
        margin-top: 0px;
        margin-bottom: 0px;
        width: 100%;
        height: auto;
    }
    .pie-30 {
        width: 70%;
        max-width: 320px;
        margin-left: 15%;
        padding-bottom: 2%;
    }
}

@media(max-width: 376px) {
    .calendar {
        width: 340px;
        height: 425px;
    }
    .imagen-noticia {
        margin-left: 0px;
        width: 350px;
        border-radius: 5%;
        margin-top: 0px;
        margin-bottom: 0px;
        width: 100%;
        height: auto;
    }
    .pie-30 {
        width: 70%;
        max-width: 320px;
        margin-left: 15%;
        padding-bottom: 2%;
    }
    .formulario {
        width: 20px;
    }
    .formulario__btn {
        width: 100%;
    }
    .mapa {
        width: 20em;
        height: 20em;
        margin-top: 25px;
        background: none;
        border: none;
        margin-left: 15px;
    }
    .justifycenter {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}