{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liceo KRÜ</title>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'Cursos/css/estilo.css'%}">
    <!-- Script -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- Ícono -->
    <script src="https://kit.fontawesome.com/6ba3b7773a.js" crossorigin="anonymous"></script>

</head>

<body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark pad-cent">
        <div class="container-fluid">
            <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item active">
                        <a class="nav-link nav-btn" href="{% url 'home'%}"><span class="fa fa-house"></span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-btn" href="{% url 'matricula1'%}"><span
                                    class="fa-solid fa-align-center"></span> Matriculate</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-btn" href="#news"><span class="fa fa-newspaper"></span> Noticias</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-btn" href="#fecha"><span class="fa far fa-calendar"></span> Fechas importantes</a>
                    </li>
                </ul>
            </div>
            <div class="mx-auto order-0">
                <img class="nav-logo" src="{% static 'Cursos/icon/iconoKRU.png'%}">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".dual-collapse2">
                        <span class="navbar-toggler-icon"></span>
                    </button>
            </div>
            <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link nav-btn" href="{% url 'Almuerzos1'%}">Almuerzos</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link nav-btn dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false"><span class="fa fa-people-group"></span> Sobre nosotros</a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                            <li><a class="dropdown-item" href="{% url 'cursoxprofesor'%}">Cursos 2022</a></li>
                            <li><a class="dropdown-item" href="#">Reglamento Escolar</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-btn" href="{% url 'cursos1'%}"><span class="fa fa-images"></span>Cursos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-btn" href="{% url 'inicios1'%}"><span class="fa fa-circle-user"></span> Iniciar Sesión</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <!-- Mensaje inicio -->
    <div class="container-fluid">
        <div class="container-fluid col-md-6 portada">
            <div class="container portada-msg bg-dark">
                <h1>Bienvenido a Liceo KRÜ</h1>
                <p>- Un liceo para todos -</p>
            </div>
        </div>
    </div>

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#EEEEEE" fill-opacity="1" d="M0,256L360,256L720,256L1080,192L1440,192L1440,320L1080,320L720,320L360,320L0,320Z"></path>
    </svg>

    <!-- Sección Noticias -->
    <div id="news" class="container-fluid car-fondo-claro">
        <div class="form-group">
            <div class="cajaflex">
                <div class="col-md-6">
                    <h1 class="news-txt"><span class="fa fa-newspaper"></span>&nbsp;Noticias Recientes</h1>
                    <div class="card">
                        <div class="card-body">
                            <div class="container-fluid fondo-btn-noticias">
                                <a href="" class="btn-noticias">
                                    <h5 class="text-center">Lorem ipsum dolor sit amet.</h5>
                                    <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, voluptate assumenda? Obcaecati, doloribus maxime? Eligendi et, numquam dolor labore ipsa voluptatem est eaque quas non enim cum, dolorem veniam. Quaerat.</p>
                                </a>
                            </div>
                            <hr>
                            <div class="container-fluid fondo-btn-noticias">
                                <a href="" class="btn-noticias">
                                    <h5 class="text-center">Lorem ipsum dolor sit amet.</h5>
                                    <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, voluptate assumenda? Obcaecati, doloribus maxime? Eligendi et, numquam dolor labore ipsa voluptatem est eaque quas non enim cum, dolorem veniam. Quaerat.</p>
                                </a>
                            </div>
                            <hr>
                            <div class="container-fluid fondo-btn-noticias">
                                <a href="" class="btn-noticias">
                                    <h5 class="text-center">Lorem ipsum dolor sit amet.</h5>
                                    <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, voluptate assumenda? Obcaecati, doloribus maxime? Eligendi et, numquam dolor labore ipsa voluptatem est eaque quas non enim cum, dolorem veniam. Quaerat.</p>
                                </a>
                            </div>
                            <hr>
                            <div class="container-fluid fondo-btn-noticias">
                                <a href="" class="btn-noticias">
                                    <h5 class="text-center">Lorem ipsum dolor sit amet.</h5>
                                    <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, voluptate assumenda? Obcaecati, doloribus maxime? Eligendi et, numquam dolor labore ipsa voluptatem est eaque quas non enim cum, dolorem veniam. Quaerat.</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="container-fluid flex-center">
                        <h1 class="news-txt "><span class="fa fa-newspaper "></span> Noticia destacada de la semana</h1>
                        <div class="container justifycenter">
                            <img src="{% static 'Cursos/img/Colegio4.jpg'%}" alt=" " class="imagen-noticia text-center ">
                        </div>
                        <br />
                        <div class="container ">
                            <h2 class="text-center ">Suspensión de clases el día 29 de marzo</h2>
                            <div class="card " style="width: 100%; height: auto; ">
                                <div class="card-body text-center ">
                                    <p class="p-noticia ">El día 29 de marzo las clases se suspenderán las clases debido a "motivo de suspensión ". Las clases volverán el día 30 de marzo con total normalidad.</p>
                                </div>
                            </div>
                            <br><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Galería Carrusel -->
    <div class="container-fluid car-fondo-oscuro">
        <h1 class="news-txt"><span class="fa fa-images"></span> Galería</h1>
        <div class="container-fluid col-md-8 cont-inter" id="carrusel">
            <!-- Carousel -->
            <div id="demo" class="carousel slide" data-bs-ride="carousel">

                <!-- Indicators/dots -->
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
                    <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
                    <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
                </div>

                <!-- The slideshow/carousel -->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{% static 'Cursos/img/Colegio.jpg'%}" alt="Los Angeles" class="d-block" style="width:100%">
                        <div class="carousel-caption">
                            <h3>Los Angeles</h3>
                            <p>We had such a great time in LA!</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'Cursos/img/Colegio2.jpg'%}" alt="Chicago" class="d-block" style="width:100%">
                        <div class="carousel-caption">
                            <h3>Chicago</h3>
                            <p>Thank you, Chicago!</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'Cursos/img/Colegio3.jpg'%}" alt="New York" class="d-block" style="width:100%">
                        <div class="carousel-caption">
                            <h3>New York</h3>
                            <p>We love the Big Apple!</p>
                        </div>
                    </div>
                </div>

                <!-- Left and right controls/icons -->
                <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </button>
                <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
        </button>
            </div>
        </div>
    </div>


    <!-- Calendario y Director-->
    <div id="fecha" class="container-fluid car-fondo-claro">
        <div class="form-group">
            <div class="cajaflex">
                <div class="container col-md-6 justifycenter">
                    <h2 class="text-center"><span class="fa fa-calendar"></span> Fechas importantes</h2>
                    <div class="div">
                        <iframe class="calendar" src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=America%2FSantiago&src=YmVycmlvcy5zZWJhc3RpYW4yMDAxQGdtYWlsLmNvbQ&src=MjcxcTB1cGZzM3BvZ29jYmRoMjRmdnNraTk5YWpkNmxAaW1wb3J0LmNhbGVuZGFyLmdvb2dsZS5jb20&src=ZXMuY2wjaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&color=%23039BE5&color=%238E24AA&color=%237986CB "></iframe>
                    </div>
                </div>
                <div class="container col-md-6 justifycenter">
                    <img src="{% static 'Cursos/img/Director.jpg'%}" alt="" class="img-director">
                    <br>
                    <div class="card">
                        <div class="card-body text-center">
                            <p>"Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum adipisci distinctio alias inventore ea? Repellat, aliquam. Harum inventore corporis quos?"</p>
                            <span>- Kün Agüero, Director de Liceo KRÜ - </span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <!-- Contacto -->
    <div class="container-fluid car-fondo-oscuro justifycenter">
        <br>
        <div class="container-fluid container-md">
            <div class="row ">
                <div class="container col-md-6 cont-contacto">
                    <h1 class="text-center">Contáctanos</h1>
                    <form action="" classs="formulario" id="formulario">
                        <!-- Grupo nombre -->
                        <div class="formulario__grupo" id="grupo__nombre">
                            <label for="nombre" class="formulario__label">Nombres</label>
                            <div class="formulario__grupo-input">
                                <i class="formulario__validacion-estado fa-solid fa-circle-xmark"></i>
                                <input type="text" class="formulario__input" name="nombre" id="nombre" placeholder="ej. Pedro Sánchez">
                            </div>
                            <p class="formulario__input-error ">El nombre solo puede tener letras</p>
                        </div>

                        <!-- Grupo correo -->
                        <div class="formulario__grupo" id="grupo__correo">
                            <label for="correo" class="formulario__label">Correo</label>
                            <div class="formulario__grupo-input">
                                <i class="formulario__validacion-estado fa-solid fa-circle-xmark"></i>
                                <input type="email" class="formulario__input" name="correo" id="correo" placeholder="ej. pe.sanchez@gmail.com">

                            </div>
                            <p class="formulario__input-error ">Escriba un correo valido</p>
                        </div>

                        <!-- Grupo asunto -->
                        <div class="formulario__grupo" id="grupo__asunto">
                            <label for="asunto" class="formulario__label">Asunto</label>
                            <div class="formulario__grupo-input">
                                <i class="formulario__validacion-estado fa-solid fa-circle-xmark"></i>
                                <input type="text" class="formulario__input" name="asunto" id="asunto" placeholder="ej. Matrícula">

                            </div>
                            <p class="formulario__input-error "></p>
                        </div>

                        <!-- Grupo mensaje -->
                        <div class="formulario__grupo" id="grupo__mensaje">
                            <label for="mensaje" class="formulario__label">Mensaje</label>
                            <div class="formulario__grupo-input">
                                <i class="formulario__validacion-estado fa-solid fa-circle-xmark"></i>
                                <input type="text" class="formulario__input" name="mensaje" id="mensaje">
                            </div>
                            <p class="formulario__input-error ">Escriba un mensaje valido</p>
                        </div>

                        <div class="formulario__mensaje" id="formulario__mensaje">
                            <p><i class="fa-solid fa-triangle-exclamation "></i> <b>Error: </b> Por favor rellene el formulario correctamente. </p>
                        </div>

                        <div class="formulario__grupo formulario__grupo-btn-enviar ">
                            <button type="submit " class="formulario__btn">Enviar</button>
                            <p class="formulario__mensaje-exito" id="formulario__mensaje-exito">Formulario enviado exitosamente
                            </p>
                        </div>
                    </form>

                    <script src="{% static 'Cursos/js/validadorC.js'%}"></script>
                    <script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>

                </div>
            </div>
        </div>
        <br>
    </div>


    <!-- Footer -->
    <footer class="pie-pagina bg-dark ">
        <div class="form-group ">
            <div class="pie-30 ">
                <p>SUSCRÍBETE PARA RECIBIR NOTICIAS</p>
                <form action="/registrarSuscripcion/" method="POST" id="formSuscripcion" class="input-group">{% csrf_token %}
                    <input type="text " name="correo" id="correo" class="form-control " placeholder="Correo electrónico " aria-label="Recipient 's username" aria-describedby="button-addon2">
                    <button class="btn btn-primary" type="submit" id="button-addon2">Suscribirse</button>
                </form>
            </div>
            <div class="pie-30 text-center">
                <p>SÍGUENOS EN NUESTRAS REDES SOCIALES</p>
                <a href="#" target="_blank"><i><img src="{% static 'Cursos/icon/facebook.png'%}" width="40px" class="icon"></i></a>
                <a href="#" target="_blank"><i><img src="{% static 'Cursos/icon/instagram.png'%}" width="40px" class="icon"></i></a>
                <a href="https://www.youtube.com" target="_blank"><i><img src="{% static 'Cursos/icon/youtube.png'%}" width="40px"
                            class="icon"></i></a>
            </div>
            <div class="pie-30">
                &copy Sebastián y Danilo derechos reservados
            </div>
        </div>

    </footer>

    <script src="{% static 'Cursos/js/cursos.js'%}"></script>
</body>


</html>